---

---

<section class="w-5/6 mx-auto mt-48" id="exp">


  

  <div class="flex items-center flex-col"><h1 class="text-center bg-clip-text font-extrabold from-[#d7d7d7] text-transparent to-[#616161] md:text-5xl sm:text-3xl text-4xl bg-gradient-to-tr mb-8 aos-init aos-animate" data-aos="fade-up" data-aos-anchor-placement="center-bottom">Experience</h1><p class="font-semibold text-center text-gray-400 text-lg aos-init aos-animate" data-aos="fade-up" data-aos-anchor-placement="center-bottom">This section tells about my professional journey in tech field</p>
    <div class="flex justify-center gap-2 max-md:w-5/6 w-3/4 mt-16"><span class="bg-primary bg-opacity-25 rounded-md w-1"></span><div><div class="flex flex-col font-semibold gap-y-8 text-primary"><div class="flex items-center gap-8 h-full"><span class="absolute -ml-[16px] animate-ping bg-sky-400 h-3 inline-flex opacity-75 rounded-full w-3 aos-init" data-aos="fade-right"></span><div class="flex flex-row bg-opacity-10 bg-primary/10 border-[1px] border-primary/10 px-8 py-4 max-md:px-2 aos-init aos-animate" data-aos="fade-up"><div class="flex flex-col ml-6"><div class="flex flex-row max-md:flex-col max-md:text-base text-2xl"><div class="flex flex-col flex-1"><h1>Full-stack Developer</h1><p><a class="text-indigo-300" >Freelancer</a></p></div><p class="mt-2">From Agust 2024 To Current</p></div><span class="bg-primary bg-opacity-25 rounded-md h-0.5 mt-4 w-fill"></span><ul class="text-xl max-md:text-sm font-light list-disc mt-4"><li class="mb-2">Work Full-stack Developer as <span class="text-indigo-300 font-semibold">Freelancer</span> <br> <span class="text-indigo-300 font-semibold">"Freelancing : </span> Where every day is a new adventure! . . .    . . . . . . . . . . . . . . . . . . . . . . ." </li>
    </ul></div></div></div></div></div></div>



    <div class="flex justify-center gap-2 max-md:w-5/6 w-3/4 mt-16"><span class="bg-primary bg-opacity-25 rounded-md w-1"></span><div><div class="flex flex-col font-semibold gap-y-8 text-primary"><div class="flex items-center gap-8 h-full"><div class="flex flex-row bg-opacity-10 bg-primary/10 border-[1px] border-primary/10 px-8 py-4 max-md:px-2 aos-init aos-animate" data-aos="fade-up"><div class="flex flex-col ml-6"><div class="flex flex-row max-md:flex-col max-md:text-base text-2xl"><div class="flex flex-col flex-1"><h1>Game Developer</h1><p>At <a class="text-indigo-300" >Dynotech Games</a></p></div><p class="mt-2">From Jan 2024 To july 2024</p></div><span class="bg-primary bg-opacity-25 rounded-md h-0.5 mt-4 w-fill"></span><ul class="text-xl max-md:text-sm font-light list-disc mt-4"><li class="mb-2">Working on finance Innovative game, where I developed <span class="text-indigo-300 font-semibold">5+ features</span> including <span class="text-indigo-300 font-semibold">Multiplayers Games</span> and <span class="text-indigo-300 font-semibold">Kinds Games  </span>.</li>
    <li class="mb-2">Work on a Multyplayer Game With <span class="text-indigo-300 font-semibold">Socket connection and API(Application Programming Interface)</span> it developed in android And also webGL</li>
    <li class="mb-2">Implement firebase plugin like <span class="text-indigo-300 font-semibold">Firebase analyst , Auth , Realtime Database</span> due to Authenication and Dynatic data &amp; tasks</li>
    <li class="mb-2">Implement Socket.io in <span class="text-indigo-300 font-semibold">Multipler Game</span> with Clealy and understandble code  to <span class="text-indigo-300 font-semibold">another Developer</span></li>
    <li class="mb-2">Work on <span class="text-indigo-300 font-semibold">google adMob and other Ads like yodo ads</span>  to Create revnue for our application and also work on other plugin like <span class="text-indigo-300 font-semibold">facebook login for Authenicate , Dotween</span> for create Innovative Animation using Programming</li></ul></div></div></div></div></div></div>


    <div class="flex items-center flex-col max-md:w-5/6 w-3/4 mt-12"><h1 class="text-center bg-clip-text font-extrabold from-[#d7d7d7] text-transparent to-[#616161] md:text-5xl sm:text-3xl text-4xl bg-gradient-to-tr mb-8 aos-init aos-animate" data-aos="fade-up" data-aos-anchor-placement="center-bottom">Education</h1>
      <div class="flex justify-center gap-2 max-md:w-5/6 w-3/4 mt-18"><span class="bg-primary bg-opacity-25 rounded-md w-1"></span><div><div class="flex flex-col font-semibold gap-y-8 text-primary"><div class="flex items-center gap-8 h-full"><span class="absolute -ml-[16px] animate-ping bg-sky-400 h-3 inline-flex opacity-75 rounded-full w-3 aos-init" data-aos="fade-right"></span><div class="flex flex-row bg-opacity-10 bg-primary/10 border-[1px] border-primary/10 px-8 py-4 max-md:px-2 aos-init aos-animate" data-aos="fade-up"><div class="flex flex-col ml-6"><div class="flex flex-row max-md:flex-col max-md:text-base text-2xl"><div class="flex flex-col flex-1"><h1>BSC IT</h1><p><a class="text-indigo-300" >Bachelor of Science in Information Technology</a></p><span class="bg-primary bg-opacity-25 rounded-md h-0.5 mt-4 w-fill"></span><ul class="text-xl max-md:text-sm font-light list-disc mt-4"><li class="mb-2">From <span class="text-indigo-300 font-semibold">Geetanji Group of Collage Rajkot</span> <br> Sauratra  university <span class="text-indigo-300 font-semibold">(2022-2025)</span></li>
      </ul></div></div></div></div></div></div>


</section>
